@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/IndexStyle.css" rel="stylesheet" type="text/css" />
</head>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>In the following sections, you will be able to register a client </p>
    <p>with their respective data, as well as delete, edit and view the details of each one</p>
</div>
